
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to home page</h2>

@*<div class="card">
    <div class="card-header">Hello Hari</div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <h3 class="text-bg-primary">HAri</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h3 class="text-bg-secondary">Siri</h3>
            </div>
        </div>
    </div>
</div>*@